<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <File name="MqttBotFile" fileName="logs/mqttbot.log" append="true">
      <PatternLayout pattern="[%d{HH:mm:ss}] %-5level %logger{1}:%L - %m%n" />
    </File>
  </Appenders>
  <Loggers>
    <Logger name="org.limepepper.mqttbot" level="debug" additivity="false">
      <AppenderRef ref="MqttBotFile" />
    </Logger>
  </Loggers>
</Configuration>
